{%
  set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished',
  'align-noor-' ~ content.field_align_media[0]['#plain_text']|clean_class,
  'background-color-' ~ content.field_background_color[0]['#plain_text']|clean_class
]
%}
 
 
{% block paragraph %}
    <div{{attributes.addClass(classes)}} style= "background-color-{{ content.field_background_color[0]['#plain_text']|lower }}" class="fix">
        {% block content %}
            <div class="text-noor">
                {{ content|without('field_align_media', 'field_background_color', 'field_media') }}
            </div>
            <div class="image-noor">
                {{ content.field_media }}
            </div>
        {% endblock %}
    </div>
{% endblock paragraph %}